*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/hotboys69/dat153/nameapp/MainActivity.java
app/src/main/res/layout/activity_main.xml
